# This Is A Config File
#
# Uncomment to choose a WeatherStation
# DefaultWeatherStation KTNWHITW29
#
# Uncomment to choose units, options are (m)etric, (e)nglish, (h)ybrid UK
# DefaultUnits m
#
# Uncomment to choose a precision, default is FALSE
# Precision FALSE
# 
# Uncomment to use a custom APIKey 
# APIKey 
